{% extends "base.html" %}

{% block content %}
<div class="page_border">
    <h2>YaFit. Цели и предназначние.</h2>
    <div style="margin-left: 50px; margin-bottom: 0px !important;">
        <p>В наше время, когда так сильно развиты технологии, действительно сложно держать себя в форме.</p>
        <p>Наше приложение может помочь с этим! YaFit помогает добиваться своих целей, которые вы поставите.</p>
        <p>Абсалютно любые, начиная количеством пройденных шагов и заканчивая</p>
        <p>Ждём от вам новых достижений!</p>
    </div>
    <h2>О разработчиках.</h2>
    <h2>Связь с нами.</h2>
</div>
{% endblock %}