{% extends "base.html" %}

{% block content %}
<div class="page_border">
<h1>Добавление привычки</h1>
<form action method="post">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Название вашей привычки</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Употребление воды",
  name="habit_name">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput2" class="form-label">Планируемый период соблюдения (дней)</label>
  <input type="number" class="form-control" id="exampleFormControlInput2" placeholder="Целое число"
  name="habit_duration">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Описание вашей привычки</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="habit_description"></textarea>
</div>
  <a class="btn btn-primary" href="/profile" id="submit" name="submit" type="submit">Сохранить</a>
</form>
</div>
{% endblock %}